<?xml version="1.0" encoding="UTF-8"?>

<!-- <!DOCTYPE menu [ -->
<!--     <!ENTITY icons "/home/pspiagicw/.config/openbox/icons"> -->
<!--     <!ENTITY pipes "/home/pspiagicw/.config/openbox/pipemenus"> -->
<!-- ]> -->
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Cava">
    <action name="Execute">
      <command>alacritty -e cava</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Cava</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item label="Emacs">
    <action name="Execute">
      <command>emacsclient -c</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Nano">
    <action name="Execute">
      <command>alacritty -e nano</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify> </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Alacritty">
    <action name="Execute"><command>alacritty</command></action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="qutebrowser">
    <action name="Execute">
      <command>qutebrowser</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>qutebrowser</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="OpenOffice Base">
    <action name="Execute">
      <command>ooffice -base</command>
    </action>
  </item>
  <item label="OpenOffice Calc">
    <action name="Execute">
      <command>ooffice -calc</command>
    </action>
  </item>
  <item label="OpenOffice Draw">
    <action name="Execute">
      <command>ooffice -draw</command>
    </action>
  </item>
  <item label="OpenOffice Impress">
    <action name="Execute">
      <command>ooffice -impress</command>
    </action>
  </item>
  <item label="OpenOffice Math">
    <action name="Execute">
      <command>ooffice -math</command>
    </action>
  </item>
  <item label="OpenOffice Printer Administration">
    <action name="Execute">
      <command>ooffice-printeradmin</command>
    </action>
  </item>
  <item label="OpenOffice Writer">
    <action name="Execute">
      <command>ooffice -writer</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="MPV">
    <action name="Execute">
      <command>mpv</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="OBS">
    <action name="Execute">
      <command>obs</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Dired">
    <action name="Execute">
      <command>emacsclient -c -e '(dired "~")'</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-gaming-menu" label="Gaming">
  <item label="Steam">
    <action name="Execute">
      <command>steam</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>
<!-- <menu id="apps-graphics-menu" label="Graphics"> -->
<!-- </menu> -->

<menu id="system-menu" label="System">
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <item icon="&icons;/terminal.png" label="Terminal Emulator">
    <action name="Execute">
      <command>alacritty</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item icon="&icons;/browser.png" label="Web Browser">
    <action name="Execute">
      <command>qutebrowser</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item icon="&icons;/filemanager.png" label="File Manager">
    <action name="Execute">
      <command>emacsclient -c -e '(dired "~")'</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item icon="&icons;/editor.png" label="Text Editor">
    <action name="Execute">
      <command>emacsclient -c</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator label="Applications" />
  <menu icon="&icons;/apps.png" label="Applications" id="rootMenu">
    <menu id="apps-accessories-menu"/>
    <menu id="apps-editors-menu"/>
    <menu id="apps-graphics-menu"/>
    <menu id="apps-net-menu"/>
    <menu id="apps-office-menu"/>
    <menu id="apps-multimedia-menu"/>
    <menu id="apps-term-menu"/>
    <menu id="apps-fileman-menu"/>
    <menu id="apps-gaming-menu"/>
  </menu>
  <menu icon="&icons;/cmd.png" id="quick-commands" label="Quick CMDs">
    <separator label="Quick Commands"/>
    <menu id="PacmanPipeMenu" execute="&pipes;/ac-pacman" label="Package Management"/>
    <menu id="FilesPipeMenu" execute="&pipes;/ac-files" label="Files &amp; Directories"/>
    <menu id="SysdPipeMenu" execute="&pipes;/ac-systemd" label="Systemd &amp; Services"/>
  </menu>
  <separator label="System" />
  <!-- <menu id="system-menu"/> -->
  <separator />
  <item icon="&icons;/sys-exit.png" label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <menu icon="&icons;/sys-poweroff.png" id="Exit" label="System">
    <menu icon="&icons;/stats.png" id="SystemPipeMenu" execute="&pipes;/ac-sysinfo" label="Stats"/>
    <separator/>
    <item icon="&icons;/sys-exit.png" label="Logout">
      <action name="Execute">
	<command>/usr/share/archcraft/openbox/pipemenus/ac-powermenu --logout</command>
      </action>
    </item>
    <separator/>
    <item icon="&icons;/sys-sleep.png" label="Suspend">
      <action name="Execute">
	<command>/usr/share/archcraft/openbox/pipemenus/ac-powermenu --suspent</command>
      </action>
    </item>
    <separator/>
    <item icon="&icons;/sys-reboot.png" label="Reboot">
      <action name="Execute">
	<command>/usr/share/archcraft/openbox/pipemenus/ac-powermenu --reboot</command>
      </action>
    </item>
    <separator/>
    <item icon="&icons;/sys-poweroff-alt.png" label="Shutdown">
      <action name="Execute">
	<command>/usr/share/archcraft/openbox/pipemenus/ac-powermenu --shutdown</command>
      </action>
    </item>
  </menu>
</menu>

</openbox_menu>
